/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-size: 20px;
}

/*palette*/

:root {
	--color-bg-white: #ffffff;
    --color-bg-icon-black: #23272a;
    --color-section-bg-grey: #f6f6f6;
	--color-section-bg-blue: #2a5ee8;
	--color-icon-text-blue: #7289da;
	--color-icon-text-white: #ffffff;
}

/*miscellaneous*/

.debug {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

li {
    list-style: none;
}

ul>li {
    padding-bottom: 10px;
    text-align: left;
}

a {
    color: var(--color-icon-text-white);
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[class*="button"]:hover {
    text-decoration: none;
}

a.text-black:hover {
    color: var(--color-icon-text-blue);
}

li>a {
    font-size: 0.7rem;
}

/*buttons-n'-text*/

div[class*="button-icon"]:hover {
    box-shadow: -5px 10px 25px rgba(54, 54, 54, 0.342);
}

.button-icon {
    padding: 10px;
    border-radius: 30px;
}

.hero-button {
    font-size: 0.9rem;
}

.small-button-icon {
    padding: 5px;
    border-radius: 30px;
}

.small-button-text {
    font-size: 0.8rem;
}

.button-padding {
    padding-right: 20px;
}

.button-color-white {
    background-color: var(--color-bg-white);
}

.button-color-black {
    background-color: var(--color-bg-icon-black);
}

.button-color-blue {
    background-color: var(--color-icon-text-blue);
}

.text-black {
    color: var(--color-bg-icon-black);
}

.text-blue {
    color: var(--color-icon-text-blue);
}

.text-white {
    color: var(--color-bg-white);
}


/*flex-utility*/

.d-flex  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.f-center {
    justify-content: center;
}

.button-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.box-flex-01 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.box-flex-02 {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

.box-flex-03 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.icon-social-flex {
    display: flex;
    flex-flow: column wrap;
}

.footer-flex  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*header*/

#download header {
    background-color: var(--color-bg-icon-black);
}

header {
    background-color: var(--color-section-bg-blue);
}

.padding-nav {
    padding-top: 30px;
}

.nav-a-margin {
    margin: 0 30px;
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 800px;
}

#hero .container {
    min-height: 500px;
}

.hero-text {
    color: var(--color-bg-white);
    text-align: center;
}

div.hero-text>h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

div.hero-text>p {
    font-size: 0.9rem;
    line-height: 30px;
    margin-bottom: 20px;
}

/*main*/

.even {
    background-color: var(--color-section-bg-grey);
}

.section-box {
    padding: 30px 0 30px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

div>img {
    width: 100%;
    
}

/*background-wave*/

div.wave>img {
    display: block;
}

.wave {
    opacity: 0.03;
}

div.wave-specular>img {
    display: block;
    transform: scale(-1 , -1);
}

.wave-specular {
    opacity: 0.03;
}

/*box-01*/

.item-box-01 {
    width: 60%;
    padding: 60px 0px 100px 150px;
}

.text-box-01 {
    width: 40%;
    padding: 40px 110px 40px 0;
}

/*box-02*/

.item-box-02 {
    width: 60%;
    padding: 30px 80px 100px 0;
}

.text-box-02 {
    width: 40%;
    padding:0px 0px 150px 180px;
}

/*box-03*/

.text-box-03 {
    width: 40%;
    padding: 10px 40px 120px 0;
}

/*box-04*/

.text-box-04 {
    text-align: center;
}

.item-box-04 {
   padding: 30px;
}

div.item-box-04>img {
    width: 1000px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/*box-05*/

.text-box-05 {
    text-align: center;
}

.ready {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    padding: 30px;
}

div.section-box.box-flex-03 {
    padding-bottom: 150px;
}

/*footer*/

footer {
    background-color: var(--color-bg-icon-black);
    color: var(--color-icon-text-white);
}

.padding-ul-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-footer {
    padding-bottom: 30px;
}

.footer-title {
    font-size: 1.3rem;
}

li>h3 {
    font-size: 0.7rem;
}

#flag-icon {
    width: 20px;
    margin-right: 5px;
}

.social-icon {
    padding-right: 10px !important;
    padding-left: 0 !important;
    display: inline-block;
}

.line {
    border-top: 2px solid var(--color-icon-text-blue);
    padding-bottom: 20px;
}

select {
    background-color: var(--color-bg-white);
    color: var(--color-bg-icon-black);
    border-radius: 10px;
    padding:2px;
}

#select-box {
    padding: 10px;
}



/*nitropage*/


